<!DOCTYPE <html>
<head>
  <title>gifLab</title>

  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js'></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js'></script>
  
  <script type="text/javascript" src="js/giffer.js"></script>
  <script type="text/javascript" src="js/CanvasTextWrapper.min.js"></script>
  <!-- // <script src='gifshot.js'></script> -->
  <link rel="stylesheet" type="text/css" href="css/giffer.css">

  <link href="https://fonts.googleapis.com/css?family=Raleway:200,100,400" rel="stylesheet" type="text/css" />
  
  
</head>
<body>

  <header id="giflab">
      <h1>
        gif lab
      </h1>
      <h2>
        a typing gif generator
      </h2>

  </header>

  <div id="wrapper">
    <div id="preview">
      <!-- preview gif -->
        <img src="/hello2world.gif" alt="HTML5 Icon"> 
    </div>
    <div id="text-holder"> 
      <!-- user input -->
        <textarea id="myText" type="text"></textarea>
        <!-- submit button -->
        <button class="btn" id="submit-gif" onclick="submit()">Gif it to me</button>
        <!-- reload button -->
        <button id="new-gif" class="btn"  onclick="gifRefresh()">start over</button>
    </div>
    <div id="gif">
      <!-- result gif -->
        <div class='result'></div>

    </div>
  </div>

  <canvas id="myCanvas" width="300" height="300"></canvas> 


</body>
</html>