body {
  height: 1200px;
  background-color: rgb(21, 21, 21);
}

#myCanvas {
  display: block;
}

#wrapper {
  margin: 0 auto;
  height: 800px;
  width: 1078px;
}

#preview {
  margin: 0 auto;
  height: 300px;
  width: 300px;
  float: left;
  padding: 20px;
  border: 3px solid #48304d;
  margin-right: 20px;
}

#text-holder {
  margin: 0 auto;
  height: 300px;
  width: 300px;
  float: left;
  padding: 20px;
  border: 3px solid #04dbac;
}

#myText {
  margin: 0 auto;
  height: 300px;
  width: 300px;
}

#gif {
  height: 300px;
  width: 300px;
  margin: 0 auto;
  float: left;
  padding: 20px;
  border: 3px solid #3454d1;
  margin-left : 20px;

}

header {
  text-align: center;
}

h1 {
  color: #f865b0;
  font-family: 'Helvetica', sans-serif;
  font-size: 48px;
  letter-spacing: 5px;
  text-transform: uppercase;
  padding: 0;
  font-weight: 100;
  
}

h2 {
  color: #d2f1e4;
  font-family: 'Helvetica', sans-serif;
  font-size: 24px;
  letter-spacing: 3px;
  padding: 0;
  text-transform: uppercase;
  font-weight: 100;

}















/*pink/purple kit

#d2f1e4
rgb(210, 241, 228)

#fbcaef
rgb(251, 202, 239)

#f865b0
rgb(248, 101, 176)

#e637bf
rgb(230, 55, 191)

#48304d
rgb(72, 48, 77)

*/

/*blue/green/gray kit

#04dbac
#3454d1
#191919
*/






















