body {
  height: 1200px;
  background-color: #ccccc;
}

/*invisible canvas*/
#myCanvas {
  display: block;
}

/*holds boxes*/
#wrapper {
  margin: 0 auto;
  height: 800px;
  width: 1078px;
}

/*preview helloworld gif*/
#preview {
  margin: 0 auto;
  height: 300px;
  width: 300px;
  float: left;
  padding: 20px;
  border: 3px solid #191919;
  margin-right: 20px;
}

/*button styling*/
button.btn {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  font-family: Georgia;
  border: 2px solid #f865b0;
  color: #f865b0;
  font-size: 20px;
  background: white;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  position: relative;
  top: 50px;
  margin: 3px;
}

.btn:hover {
  background: white;
  text-decoration: none;
  border: 2px solid #191919;
  color: #191919;
  cursor: pointer;

}

/*loading styling*/
.loading {
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -60px 0 0 -60px;
  background: #fff;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  border: 10px solid #f865b0;
}
.loading:after {
  content: '';
  background: trasparent;
  width: 140%;
  height: 140%;
  position: absolute;
  border-radius: 100%;
  top: -20%;
  left: -20%;
  opacity: 0.7;
  box-shadow: rgba(255, 255, 255, 0.6) -4px -5px 3px -3px;
  animation: rotate 2s infinite linear;
}

@keyframes rotate {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}

#text-holder {
  margin: 0 auto;
  height: 300px;
  width: 300px;
  float: left;
  padding: 20px;
  border: 3px solid #191919;
}

#myText {
  margin: 0 auto;
  height: 300px;
  width: 300px;
}

#gif {
  height: 300px;
  width: 300px;
  margin: 0 auto;
  float: left;
  padding: 20px;
  border: 3px solid #191919;
  margin-left : 20px;

}

header {
  text-align: center;
}

h1 {
  color: #f865b0;
  font-family: 'Helvetica', sans-serif;
  font-size: 48px;
  letter-spacing: 5px;
  text-transform: uppercase;
  padding: 0;
  font-weight: 100;

}

h2 {
  color: #191919;
  font-family: 'Helvetica', sans-serif;
  font-size: 24px;
  letter-spacing: 3px;
  padding: 0;
  text-transform: uppercase;
  font-weight: 100;

}















/*pink/purple kit

#d2f1e4
rgb(210, 241, 228)

#fbcaef
rgb(251, 202, 239)

#f865b0
rgb(248, 101, 176)

#e637bf
rgb(230, 55, 191)

#48304d
rgb(72, 48, 77)

*/

/*blue/green/gray kit

#04dbac
#3454d1
#191919
*/






















